<h1>The Product (show page)</h1>
<%#= params %>
<p>Product Name: <%=@product.name%></p>
<p>Product Description: <%=@product.description%></p>
<p>Product Price: <%=@product.price_in_cents%></p>

<%= link_to "Edit", edit_product_path%>
<%= link_to "Home", products_path %>